In [7]:
a=5

In [8]:
a

5

In [9]:
a=10

In [10]:
a

10

In [11]:
a+a

20

In [20]:
a = a+a

In [21]:
a

320

In [22]:
a

320

In [23]:
type(a)

int

In [24]:
a=30.23

In [25]:
type(a)

float

In [26]:
my_income=1000
tax_rate=0.1
my_taxes= my_income*tax_rate

In [27]:
my_taxes

100.0

# strings

In [28]:
'hello'

'hello'

In [29]:
'this is also a string'

'this is also a string'

In [31]:
"I'm going on a run"

"I'm going on a run"

In [32]:
print("hello")

hello

In [37]:
print("hello \tworld")

hello 	world

In [38]:
len("hello")

5

# indexing and slicing with string #

In [39]:
len("i am")

4

In [40]:
mystring= "hello world"

In [41]:
mystring

'hello world'

In [42]:
mystring[0]

'h'

In [43]:
mystring[8]

'r'

In [44]:
mystring[9]

'l'

In [45]:
mystring[-2]

'l'

In [46]:
mystring[-3]

'r'

In [47]:
mystring="abcdefghijk"

In [48]:
mystring

'abcdefghijk'

In [49]:
mystring[2:]

'cdefghijk'

In [50]:
mystring[:3]

'abc'

In [51]:
mystring[3:6]

'def'

In [52]:
mystring[1:3]

'bc'

In [53]:
mystring[5:10]

'fghij'

In [58]:
mystring[2:7:2]

'ceg'

In [57]:
mystring

'abcdefghijk'

In [59]:
mystring[::-1]

'kjihgfedcba'

# String properties and method

## Immutability

In [2]:
name= "sam"

In [3]:
name[0]="p"

TypeError: 'str' object does not support item assignment

In [5]:
 last_letters=name[1:]

In [6]:
last_letters

'am'

In [7]:
'p'+ last_letters

'pam'

In [8]:
x= "hello world"

In [15]:
x= x+" it is beautiful outside"

In [16]:
x

'hello world it is beautiful outside it is beautiful outside it is beautiful outside'

In [18]:
letter='z'

In [19]:
letter*10

'zzzzzzzzzz'

In [20]:
2+3

5

In [21]:
'2'+'3'

'23'

In [22]:
x= 'hello word'

In [23]:
x.upper()

'HELLO WORD'

In [24]:
x

'hello word'

In [25]:
x.lower()

'hello word'

In [26]:
x.split()

['hello', 'word']

In [27]:
x='Hi this is a string'

In [30]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

# PRINT FORMATTING WITH STRING

# Formatting with the .format() method

In [32]:
print('This is a string {}' .format("Inserted"))

This is a string Inserted

In [33]:
print('The {} {} {}'.format('fox', 'brown','quick'))

The fox brown quick

In [34]:
print('The {2} {1} {0}'.format('fox', 'brown','quick'))

The quick brown fox

In [35]:
print('The {0} {0} {0}'.format('fox', 'brown','quick'))

The fox fox fox

In [36]:
print('The {q} {b} {f}'.format(f='fox', b='brown',q='quick'))

The quick brown fox

## Float formatting follows '{value: width.precision f }"

In [44]:
result= 100/777

In [51]:
result= 104.12345

In [52]:
print('The Result Was {r}'.format(r=result))

The Result Was 104.12345

In [54]:
print('The Result Was {r:1.2f}'.format(r=result))

The Result Was 104.12

# Lists

In [1]:
my_list=[1,2,3,4,5]

In [1]:
my_list=['string',100,23.3]

In [2]:
len(my_list)

3

In [3]:
mylist=['one','two','three']

In [4]:
mylist[0]

'one'

In [5]:
mylist[1:]

['two', 'three']

In [6]:
mylist

['one', 'two', 'three']

In [7]:
another_list=['four', 'five','six']

In [9]:
newlist=mylist+another_list

In [10]:
newlist

['one', 'two', 'three', 'four', 'five', 'six']

In [11]:
newlist[0]='ONE ALL CAPS'

In [12]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [13]:
newlist.append('seven')

In [14]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [15]:
newlist.pop()

'seven'

In [16]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
popped_item=newlist.pop()

In [18]:
popped_item

'six'

In [19]:
newlist

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [20]:
newlist.pop(0)

'ONE ALL CAPS'

In [21]:
newlist

['two', 'three', 'four', 'five']

In [22]:
new_list=['a','e', 'x','b','c']
num_list=[1,4,5,3,8,6,2,9,]

In [23]:
new_list.sort()

In [24]:
new_list

['a', 'b', 'c', 'e', 'x']

In [25]:
num_list.sort()

In [26]:
num_list

[1, 2, 3, 4, 5, 6, 8, 9]

In [27]:
num_list.reverse()

In [28]:
num_list

[9, 8, 6, 5, 4, 3, 2, 1]

# Dictionary

In [1]:
my_dictionary={'key1':'value1', 'key2':'value2'}

In [2]:
my_dictionary

{'key1': 'value1', 'key2': 'value2'}

In [4]:
my_dictionary['key1']

'value1'

In [5]:
price_lookup={'apple':2.99, 'orange':1.99, 'milk':5.99,'egg':0.99}

In [6]:
price_lookup['egg']

0.99

In [7]:
d={'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [11]:
d['k2'][2]

2

In [10]:
d['k3']['insidekey']

100

In [12]:
d={'key1':['a','b','c']}

In [13]:
d

{'key1': ['a', 'b', 'c']}

In [14]:
mylist=d['key1']

In [15]:
mylist

['a', 'b', 'c']

In [16]:
letter=mylist[2]

In [17]:
letter

'c'

In [18]:
letter.upper()

'C'

In [19]:
d['key1'][2].upper()

'C'

In [20]:
d={'k1':100, 'k2':200}

In [22]:
d['k3']=300

In [23]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [24]:
d['k1']='new value'

In [25]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [26]:
d={'k1': 100, 'k2': 200, 'k3': 300}

In [28]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [29]:
d.values()

dict_values([100, 200, 300])

In [30]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# Tuples

In [31]:
t=(1,2,3,4)

In [32]:
mylist=[1,2,3]

In [33]:
type(t)

tuple

In [35]:
type(mylist)

list

In [36]:
len(t)

4

In [37]:
t=('one',2,3.4)

In [38]:
t

('one', 2, 3.4)

In [39]:
t[0]

'one'

In [40]:
t[1]

2

In [41]:
t[2]

3.4

In [42]:
t[-1]

3.4

In [43]:
t=('a','a','b','a')

In [44]:
t.count('a')

3

In [46]:
t.index('a')

0

In [47]:
t

('a', 'a', 'b', 'a')

In [48]:
mylist

[1, 2, 3]

In [49]:
mylist[0]='new'

In [50]:
mylist

['new', 2, 3]

In [51]:
t[0]='c'

TypeError: 'tuple' object does not support item assignment

# sets

In [52]:
myset=set()

In [53]:
myset

set()

In [54]:
myset.add(1)

In [55]:
myset

{1}

In [56]:
myset.add(2)

In [57]:
myset

{1, 2}

In [58]:
myset.add(2)

In [59]:
myset

{1, 2}

In [60]:
mylist=[1,2,1,1,1,2,2,2,3,3,3,4,4,4]

In [61]:
set(mylist)

{1, 2, 3, 4}

# Boolean

In [62]:
True

True

In [63]:
true

NameError: name 'true' is not defined

In [64]:
False

False

In [65]:
type(False)

bool

In [66]:
1>2

False

In [67]:
1==1

True

In [69]:
b=None

In [70]:
b

# Files

In [1]:
%%writefile myfile.txt
Hello this is the text file 
this is the second line
this is the third line

Writing myfile.txt

# Comparision Operators

In [1]:
2==2

True

In [2]:
2==1

False

In [3]:
'hello'=='bye'

False

In [4]:
'Bye'=="bye"

False

In [5]:
'2'==2

False

In [6]:
2.0==2

True

In [7]:
3!=3

False

In [8]:
4!=5

True

In [9]:
2>1

True

In [10]:
1>2

False

In [11]:
1<2

True

In [13]:
2<5

True

In [14]:
2>=2

True

In [15]:
4<=1

False

# Chaining Comparision operators

In [16]:
1<2

True

In [17]:
2<3

True

In [18]:
1<2<3

True

In [20]:
1<2 and 2<3

True

In [22]:
('h'=='h') and (2==2)

True

In [25]:
100==1 or 2==200

False

In [26]:
1==1

True

In [28]:
not 1==1

False

In [30]:
not 400>5000

True

# If Elif and Else Statement

In [36]:
hungry=False

if hungry:
    print('its true')
else:
    print('im not hungry')

im not hungry

In [41]:
loc='game'
if loc=='auto shop':
    print('cars are cool!!!')
elif loc=='bank':
    print('Money is cool!!')
elif loc=='store':
    print('welcome to store')
else:
    print('i do not no much')

i do not no much

# For loop

In [1]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [4]:
for i in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [7]:
for num in mylist:
    #check for even
    if num % 2 ==0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [12]:
list_sum=0
for num in mylist:
    list_sum+= num

print(list_sum)

55

In [2]:

for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [4]:
tup=(1,2,3)
for i in tup:
    print(i)

1
2
3

In [5]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [6]:
len(mylist)

4

In [9]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [10]:
mylist=[(1,2,3), (5,6,7), (8,9,10)]

In [11]:
for a,b,c in mylist:
    print(b)

2
6
9

In [16]:
d={'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

# While loops

In [11]:
x=0
while x <5:
    print(f'the current value of x is {x}')
    x +=1
else:
   print('X ix not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X ix not less than 5

## break, Continue, pass Keywords

In [15]:
x= [1,2,3]
for item in x:
    #comment
    pass
print('end of my script')

end of my script

In [17]:
mystring='sammmy'

for letter in mystring:
    if letter =='a':
        continue
    print(letter)

s
m
m
m
y

In [18]:
mystring='sammmy'

for letter in mystring:
    if letter =='a':
        break
    print(letter)

s

In [23]:
x= 0
while x < 5:
    if x==2:
        break
    print(x)
    x += 1

0
1

# useful opertors

In [24]:
mylist=[1,2,3]

In [28]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [30]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [32]:
index_count=0
for letter in 'abcde':
    print('At index {} the letter is {}' .format(index_count, letter))
    index_count =+ 1

At index 0 the letter is a
At index 1 the letter is b
At index 1 the letter is c
At index 1 the letter is d
At index 1 the letter is e

In [34]:
word='abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [4]:
mylist1=[1,2,3,4,5,6]
mylist2=['a', 'b', 'c']
mylist3=[100,200,300]

In [7]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [6]:
list(zip(mylist1,mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [10]:
2 in [1,2,3]

True

In [9]:
'x' in ['x','y','z']

True

In [12]:
'a' in 'a world'

True

In [13]:
'mykey' in {'mykey':1234}

True

In [18]:
d={'mykey':1234}
1234 in d.keys()

False

In [19]:
mylist=[12,23,4,5,56,200]

In [20]:
min(mylist)

4

In [21]:
max(mylist)

200

In [22]:
from random import shuffle

In [26]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [27]:
shuffle(mylist)

In [28]:
mylist

[6, 10, 7, 8, 1, 4, 3, 2, 5, 9]

In [29]:
from random import randint

In [30]:
randint(0,50)

11

In [31]:
randint(0,50)

27

In [32]:
mynum=randint(0,100)

In [33]:
mynum

96

In [40]:
result=input('what is your favrouite number? ')

what is your favrouite number? 35

In [42]:
type(result)

str

In [43]:
float(result)

35.0

In [44]:
int(result)

35

# List comprehensions

In [45]:
mystring='hello'

In [46]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [47]:
mylist

['h', 'e', 'l', 'l', 'o']

In [48]:
mylist=[letter for letter in mystring]

In [49]:
mylist

['h', 'e', 'l', 'l', 'o']

In [53]:
mylist= [ qwe for qwe in 'worldyfho']

In [54]:
mylist

['w', 'o', 'r', 'l', 'd', 'y', 'f', 'h', 'o']

In [57]:
mylist=[x**2 for x in range(0,15)]

In [58]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [61]:
mylist=[x**2 for x in range(0,11) if x%2==0]

In [62]:
mylist

[0, 4, 16, 36, 64, 100]

In [63]:
celcius=[0,10,20,35.5]
fahrenheit=[((9/5)*temp +32) for temp in celcius]

In [64]:
fahrenheit

[32.0, 50.0, 68.0, 95.9]

In [66]:
farenheit=[]
for temp in celcius:
    farenheit.append((9/5)*temp +32)

In [67]:
farenheit

[32.0, 50.0, 68.0, 95.9]

In [69]:
result=[x if x%2==0 else 'odd' for x in range(0,11)]

In [70]:
result

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [74]:
mylist=[]
for x in [2,4,6]:
        for y in [1,10,1000]:
            mylist.append(x*y)

In [75]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [76]:
mylist=[x*y for x in [2,4,6] for y in [1,10,1000]]

In [77]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

# Methods and the Python Documentation

In [1]:
mylist=[1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Functions

In [10]:
def name_function():
    '''
    Docstring: Information about function
    input:no input...
    output:hello
    '''
    print("hello")

In [11]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    Docstring: Information about function
    input:no input...
    output:hello

In [22]:
def say_hello(name='name'):
    return'hello '+name

In [23]:
result=say_hello('nitish')

In [24]:
result

'hello nitish'

In [25]:
type(result)

str

In [26]:
def add(n1,n2):
    return n1+n2

In [27]:
result=add(20,30)

In [28]:
result

50

In [29]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [30]:
dog_check('my dog ran away')

True

In [31]:
dog_check('my cat ran away')

False

In [32]:
dog_check('my Dog ran away')

True

# PIG LATIN
       
       - if words start with a vowel, add 'ay' to the end
       - if word does not start with vowel, put first letter at the end , then add 'ay' 
       - word --> ordway
       - apple--> appleay

In [40]:
def pig_latin(word):
    first_letter= word[0]
    
    #check for vowel
    if first_letter.lower() in 'aeiou':
        pig_word= word + 'ay'
    else:
        pig_word= word[1:] + first_letter + 'ay'
    return pig_word

In [41]:
pig_latin('classic')

'lassiccay'

In [42]:
pig_latin('Information')

'Informationay'

# * args and **Kwargs

In [43]:
def myfunc(a,b,c,d=0,e=0):
    #returns 5% of the sum of a and b 
    return sum((a,b,c,d,e))* 0.05

In [45]:
myfunc(40,60,100,100,3,4)

TypeError: myfunc() takes from 3 to 5 positional arguments but 6 were given

In [46]:
def myfunc(*args):
    return sum(args)*0.05

In [49]:
myfunc(100,200,4,3,5,36,23,45,2,3,545,6,2,2,4,3,45,56,3,)

54.35

In [50]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}' .format(kwargs['fruit']))
    else:
        print('i did not find any fruit here')

In [53]:
myfunc(fruit='apple',veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [54]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}' .format(args[0], kwargs['food']))

In [55]:
myfunc(10,20,30,40, fruit='orange',food='egg', animal='dog')

(10, 20, 30, 40)
{'fruit': 'orange', 'food': 'egg', 'animal': 'dog'}
I would like 10 egg

# Lambda Expressions  Map and Filter

In [1]:
def square(num):
    return num**2

In [3]:
my_nums=[1,2,3,4,5]

In [5]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [6]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [7]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0]

In [8]:
names=['Andy','Eve', 'Sally']

In [9]:
list(map(splicer,names))

['Even', 'E', 'S']

In [10]:
def check_even(num):
    return num%2==0

In [11]:
my_nums=[1,2,3,4,5,6]

In [14]:
list(filter(check_even,my_nums))

[2, 4, 6]

In [15]:
for n in filter(check_even,my_nums):
    print(n)

2
4
6

In [16]:
def square(num):
    result=num**2
    return result

In [17]:
square(3)

9

In [18]:
square=lambda num:num**2

In [20]:
square(5)

25

In [21]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25, 36]

In [23]:
list(filter(lambda num: num%2==0,my_nums))

[2, 4, 6]

In [24]:
names

['Andy', 'Eve', 'Sally']

In [29]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

# Nested Statement and scope

In [30]:
x=25

def printer():
    x=50
    return x

In [31]:
print(x)

25

In [32]:
print(printer())

50

In [2]:
#lambda num:num**2

In [31]:
#Global
name="This is a global string"
def greet():
    # Enclosing
       name='sammy'
        
       def hello():
            # Local
            name='I am Local'
            print( 'Hello '+name)
            
       hello()

In [32]:
greet()

Hello I am Local

In [47]:
x=50

def func():
    global x
    print(f'X is {x}')
    
    # Local Reassignment on a global variable
    x='New value'
    print(f'i just locally changed global X to {x}')

In [48]:
print(x)

50

In [49]:
func()

X is 50
i just locally changed global X to New value

In [50]:
print(x)

New value

In [38]:
print(x)

50

In [1]:
i = 0

In [2]:
i = i++

SyntaxError: invalid syntax (<ipython-input-2-38cf2ba9058b>, line 1)